body{
    background-color: rgb(255, 255, 255);
}
/* პირველი სანავიგაციო */
ul.main-navigation-bar-list{
    list-style-type: none;
    margin: auto;
    padding: 0px;
    overflow: hidden;
    background-color: #17252a;
    
}
  
li.first-nav-list{
    float: left;
    width: 210px;
}
 
li.first-nav-list a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
}
  
li.first-nav-list a:hover:not(.logo-name) {
    background-color: #3aafa9;
}
  
.logo-name {
    background-color: #2b7a78;
    height: 21px;
}

/* "html ტეგების შესახებ" სტილები" */
.block-html-tags{
    background-color: #97cdca;
    margin: auto;
    margin-top: 30px;
    height: 300px;
    width: 800px;
    border-radius: 30px;
    box-shadow: #17252a 7px 7px 10px;
}

.html-tags-head{
    font-style: italic;
    text-align: center;
}

.about-html-tags{
    font-size: 18px;
    margin-left: 15px;
}

.img-html-tags{
    margin-left: 250px;
    height: 155px;
    width: 300px;
}

/* მეორე სანავიგაციო */
.first-black-line{
    margin-top: 35px;
    width: 1505px;
    height: 10px;
    background-color: #17252a;
}

.second-black-line{
    margin-top: 10px;
    width: 1505px;
    height: 10px;
    background-color: #17252a;
}

ul.second-navigation-bar-list{
    list-style-type: none;
    margin: auto;
    padding: 0px;
    overflow: hidden;
    background-color: #17252a;
}

li.second-nav-list{
    float: left;
    width: 210px;
}

li.second-nav-list a{
    display: block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
}

li.second-nav-list a:hover:not(.simple-tags-name) {
    background-color: #3aafa9;
    height: 21px;
}

/* "მატრივი ტეგების შესახებ" სტილები */
.simple-tags-name{
    background-color: #2b7a78;
    height: 21px;
}

.simple-tags-block{
    background-color: #97cdca;
    margin: auto;
    margin-top: 30px;
    height: 450px;
    width: 1200px;
    border-radius: 30px;
    box-shadow: #17252a 7px 7px 10px;
}

.simple-tags-head{
    text-align: center;
    font-style: italic;

}

.about-simple-tags{
    font-size: 25px;
    margin-left: 25px;
}

/* მესამე სანავიგაციო */
ul.third-navigation-bar-list{
    list-style-type: none;
    margin: auto;
    padding: 0px;
    overflow: hidden;
    background-color: #17252a;
}

li.third-nav-list{
    float: left;
    width: 210px;
}

li.third-nav-list a{
    display: block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
}

li.third-nav-list a:hover:not(.containers-tags-name) {
    background-color: #3aafa9;
    height: 21px;
}

a.containers-tags-name{
    background-color: #2b7a78;
    height: 21px;
}

/* "კონტეინერი ტეგების შესახებ" სტილები */
.containers-tags-block{
    background-color: #97cdca;
    margin: auto;
    margin-top: 30px;
    height: 490px;
    width: 1200px;
    border-radius: 30px;
    box-shadow: #17252a 7px 7px 10px;
}

.containers-tags-head{
    text-align: center;
    font-style: italic;
}

.about-containers-tags{
    font-size: 25px;
    margin: 25px;
}

/* მეოთხე სანავიგაციო */
ul.fourth-navigation-bar-list{
    list-style-type: none;
    margin: auto;
    padding: 0px;
    overflow: hidden;
    background-color: #17252a;
}

li.fourth-nav-list{
    float: left;
    width: 210px;
}

li.fourth-nav-list a{
    display: block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
}

li.fourth-nav-list a:hover:not(.containers-tags-name) {
    background-color: #3aafa9;
    height: 21px;
}

a.Paragraph-tags-name{
    background-color: #2b7a78;
    height: 21px;
}

/* "აბზაცირების ტეგების შესახებ" სტილები */
.paragraph-tags-block{
    background-color: #97cdca;
    margin: auto;
    margin-top: 30px;
    height: 490px;
    width: 1200px;
    border-radius: 30px;
    box-shadow: #17252a 7px 7px 10px;
}

.paragraph-tags-head{
    text-align: center;
    font-style: italic;
}

.about-paragraph-tags{
    font-size: 30px;
    margin: 25px;
}

/* მეხუთე სანავიგაციო */
ul.fifth-navigation-bar-list{
    list-style-type: none;
    margin: auto;
    padding: 0px;
    overflow: hidden;
    background-color: #17252a;
}

li.fifth-nav-list{
    float: left;
    width: 210px;
}

li.fifth-nav-list a{
    display: block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
}

li.fifth-nav-list a:hover:not(.schedule-tags-name) {
    background-color: #3aafa9;
    height: 21px;
}

a.schedule-tags-name{
    background-color: #2b7a78;
    height: 21px;
}

/* "ცრილის ტეგების შესახებ" სტილები */
.schedule-tags-block{
    background-color: #97cdca;
    margin: auto;
    margin-top: 30px;
    height: 490px;
    width: 1200px;
    border-radius: 30px;
    box-shadow: #17252a 7px 7px 10px;
}

.schedule-tags-head{
    text-align: center;
    font-style: italic;
}

.about-schedule-tags{
    font-size: 30px;
    margin: 25px;
}

/* მეექვსე სანავიგაციო */
ul.sixth-navigation-bar-list{
    list-style-type: none;
    margin: auto;
    padding: 0px;
    overflow: hidden;
    background-color: #17252a;
}

li.sixth-nav-list{
    float: left;
    width: 210px;
}

li.sixth-nav-list a{
    display: block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
}

li.sixth-nav-list a:hover:not(.graphic-tags-name) {
    background-color: #3aafa9;
    height: 21px;
}

a.graphic-tags-name{
    background-color: #2b7a78;
    height: 21px;
}

/* "გრაფიკა" სტილები */
.graphic-tags-block{
    background-color: #97cdca;
    margin: auto;
    margin-top: 30px;
    height: 490px;
    width: 1200px;
    border-radius: 30px;
    box-shadow: #17252a 7px 7px 10px;
}

.graphic-tags-head{
    text-align: center;
    font-style: italic;
}

.about-graphic-tags{
    font-size: 35px;
    margin: 25px;
}

/* მეშვიდე სანავიგაციო */
ul.seventh-navigation-bar-list{
    list-style-type: none;
    margin: auto;
    padding: 0px;
    overflow: hidden;
    background-color: #17252a;
}

li.seventh-nav-list{
    float: left;
    width: 210px;
}

li.seventh-nav-list a{
    display: block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
}

li.seventh-nav-list a:hover:not(.link-tags-name) {
    background-color: #3aafa9;
    height: 21px;
}

a.link-tags-name{
    background-color: #2b7a78;
    height: 21px;
}

/* "ლინკები" სტილები */
.link-tags-block{
    background-color: #97cdca;
    margin: auto;
    margin-top: 30px;
    height: 490px;
    width: 1200px;
    border-radius: 30px;
    box-shadow: #17252a 7px 7px 10px;
}

.link-tags-head{
    text-align: center;
    font-style: italic;
}

.about-link-tags{
    font-size: 30px;
    margin: 25px;
}