body{
    background-color: #ffffff;
}

table{
    margin: auto;
    border: solid 5px black;
    width: 800px;
    height: 600px;
}

table td{
    border: solid 3px black;
    width: 200px;
    height: 30px;
}

.table-header{
    height: 50px;
}

.table-empty-cell{
    height: 380px;
}