body{
    background-color: bisque;
}

h1{
    text-align: center;
}

table{
    border: solid 5px black;
    width: 900px;
    height: 600px;
    margin: auto;
}

table td{
    width: 100px;
    height: 10px;
    border: solid 3px black;
    text-align: center;
}

.Table-head{
    height: 15px;
    width: 200px;
}