body{
    background-color: #cccccc;
}

h1{
    text-align: center;
    font-size: 22px;
}

table{
    margin: auto;
    border: solid 5px black;
    width: 1500px;
    height: 600px;
}

table td{
    border: solid 2px black;
    height: 30px;
    width: 200px;
    font-size: 18px;
}

.table-cell-4{
    height: 80px;
}

.table-cell-7{
    height: 75px;
}

.table-cell-10{
    height: 70px;
}

.table-red-bg{
    background-color: red;
}

.table-green-bg{
    background-color: green;
}

.table-blue-bg{
    background-color: blue;
}

.table-white-bg{
    background-color: white;
}