body{
    background-color: rgb(195, 210, 228);
}

table{
    width: 700px;
    height: 500px;
    border: solid 3px black;
    margin: auto;
}

table td{
    width: 100px;
    border: solid 3px black;
}

.table-head{
    height: 50px;
    text-align: center;
    font-style: italic;
}

.table-foot{
    background-color: green;
}